/* 

Style Hints: 

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/

body {
	background-image: url("../images/pattern1.png");
}

#container {
  width: 700px;	
  margin: 0 auto 0 auto;
}

.header {
  background-color: #ed6c63; 
  padding: 10px 10px 20px 10px;
}

h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px;	
}

h2 {
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  font-family: cursive, Helvetica, sans-serif;
}

.orchid-image {
	width: 700px;
}

.main-content {
	background-color: white;
}

.subtitle {
	color: black;
	font-size: 18px;
	text-transform: uppercase;
    font-family: cursive, Helvetica, sans-serif;
    text-decoration: underline;
}

p {
	margin: 10px 0 10px 0;
}

.small-img {
	width: 150px;
	border: 3px solid grey;
}

.footer {
	background-color: #ed6c63;
	color: #FFFFFF;
	height: 50px;
	margin: 0 0 0 0;
	text-align: right;
}